- name: Clone Dokploy repo
  git:
    repo: "{{ dokploy_repo }}"
    dest: "{{ dokploy_dir }}"
    version: main
    update: no
  become: no

- name: Install Dokploy dependencies
  npm:
    path: "{{ dokploy_dir }}"
    production: no
  become: no

- name: Install Dokploy globally
  npm:
    name: "{{ dokploy_dir }}"
    global: yes
